*{
    padding: 0;
    margin: 0;
}
html, body{
    overflow: hidden;
}
body{
    background-color: #DBFFA3;
    font-family: "Ubuntu", sans-serif;
}

h2{
    font-weight: 200;
    font-style: normal;
}
button{
    font-weight: bold;
}

.container-1{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.redes{
    padding-top: 16px;
    display: flex;
    gap: 16px;
}
.container-1 .imagen{
    width: 13%;
}
.hoja{
    position: absolute;
    left: 0.1%;
    width: 15%;
}
.hoja2{
    position: absolute;
    right: 0.1%;
    top: 38%;
    width: 15%;
}
.container-2{
    color: #F0FFFB;
    padding-top: 32px;
    width: 100%;
    height: 54.5vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 16px;
}
.botonera{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    gap: 16px;
}

.btn{
    color: #006337;
    border: 0;
    width: 100%;
    font-size: 16px;
    border-radius: 20px;
    height: 44px;
    transition: 0.5s;
}

.btn:hover{
    color:#F0FFFB ;
    border: 4px solid #F0FFFB;
    background-color: #006337;
}
.fondo{
    z-index: -1;
    width: 100%;
    height: 60%;
    position: absolute;
    top:40%;
}
.mobile{
    display: none;
}
@media only screen and (max-width: 800px) {
    .deskt{
        display: none;
    }
    .mobile{
        display: flex;
    }
    h2{
        font-size: 20px;
        padding-top: 32px;
    }
    .botonera{
        width: 100vw;
    }
    .container{
        height: 100vh;
    }
    .fondo-2{
        width: 100vw;
        height: 59vh;
        z-index: -1;
        position: absolute;
    }
    .container-1 .imagen{
        width: 40%;
        padding-top: 36px;
    }
    
}
